doctype html
html
  head
    title Prime number
    link(href="bootstrap/dist/css/bootstrap.css" rel="stylesheet")
  body
    .container
      h1 Prime number
      form(method="post")
        .form-group
          label(for="number") Input number
          input.form-control(type="text" name="number" id="number" placeholder="Input number")
          br
          button.btn.btn-primary(type="submit") Submit
      if number
        h1 The first #{number} prime number(s) are:
      if primes
        ul.list-group
          each prime in primes
            li.list-group-item= prime
